div.dialog {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 50%;
    border: solid;
    border-width: 0.5em;
    border-color: black;
}

div.par1 {
    display: none;
}

input.namefield {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 10%;

}
input.passfield {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 10%;
}
input#your_email {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    height: 10%;
}
input#check_code {
    position: absolute;
    top: 70%;
    left: 30%;
    width: 40%;
    height: 10%;
}



button.left-but {
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 30%;
    height: 10%;
}
button.right-but {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 30%;
    height: 10%;

}
button[id="but1"] {
    position: absolute;
    top: 70%;
    right: 30%;
    width: 40%;
    height: 10%;
}

