.navbar {
    display:none;
}
.auth {
    background-image: -webkit-linear-gradient(white, blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.auth>* {
    width: 50%;
    height: 10%;
}
.reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image: -webkit-linear-gradient(white, green);
}
