* {box-sizing: border-box; }
html, body, .main {
    background-image: -webkit-linear-gradient(white, blue);
}

html {
  font-size: 1rem;
}
.main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-content: space-around;
}
.main > div {
    height: 80%;
    margin: 50px;
    padding: 0px;
}
.firstblock {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
/*.firstblock > div {
    margin: 0px;
    padding: 0px;
}*/
.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
    margin: 10px;
    border: solid 3px green;
    overflow-x: hidden;
    overflow-y: auto;
}
.enterzone {
    display: flex;
    margin: 10px;
}
.messblock {
    display: flex;
    flex-direction: row;
    border: solid 1px #a51616;
    min-height: 25%;
}
.avka {
    width: 20%;
    border: solid 3px black;
    margin: 10px 10px;
}
.intext {
    width: 80%;
    border: solid 3px black;
    margin: 10px 10px;
}
.messblock > a {
    border: solid 1px #a51616;
    padding-right: 5px;
    max-width: 100%;
}
#your_message {
    flex: 1;
}
.btn {
    font-size: 0.8rem;
    /*padding: 2px;*/
  }
#but2 {
    position: absolute;
    bottom: 30%;
    right: 5%;
}
#downbut, .someblock {
        display: none;
    }
@media (min-width: 768px) {
    .someblock {
        display: block;
    }
}

@media (max-width: 767px) {
    #downbut {
        display: block;
    }
    /*html {
        font-size: 1.2rem;
    }
    .btn {
        font-size: 0.5rem;
        padding: 2px;*/
    .main > div {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}



