.messblock {
    /*width: 100%;
    height: 25%;*/
    /*background: #7a7070;
    padding: 5px 20px 5px 5px;*/
    border: solid 1px #a51616;
    /*float: left;*/
    min-height: 25%;
}

.messblock > a {
    border: solid 1px #a51616;
}
/*body {
    background-image: -webkit-linear-gradient(white, blue);
}*/
.main {
    background-image: -webkit-linear-gradient(white, blue);
}

.messblock > a > img {
    max-width: 50%;
    height: auto;
}

.messages {
    height: 80%;
    border: solid 3px yellow;
}
.x1 {
    border: solid 1px #a51616;
    height: 5%;
    font-size: 2rem;

}
.x3 {
    font-size: 2rem;
    border: solid 1px #a51616;


}
.btn {
    font-size: 1.5rem;
}
.intext {
    font-size: 1.5rem;
    /*text-align: justify;*/
}
/*#but1 {
    justify: right;
}*/