.messblock {
    /*width: 100%;
    height: 25%;*/
    /*background: #7a7070;
    padding: 5px 20px 5px 5px;*/
    border: solid 1px #a51616;
    /*float: left;*/
    min-height: 25%;
}

.messblock > a {
    border: solid 1px #a51616;
}
/*body {
    background-image: -webkit-linear-gradient(white, blue);
}*/
.main {
    background-image: -webkit-linear-gradient(white, blue);
    position: fixed;
    width: 100%;
    height:100%;
}

.messblock > a {
    padding-right: 5px;
}

.messages {
    height: 80%;
    border: solid 3px green;
}

.enterzone {
    font-size: 1.5rem;
    border: solid 2px yellow;
}
.btn {
    font-size: 1.2rem;
}
.intext {
    font-size: 1.5rem;
    /*text-align: justify;*/
}
/*#but1 {
    justify: right;
}*/