<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация Scratchfile!</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){


            $("#but1").on('click',function(){
                $(".par1").toggle(300);});

        });


function check_auth(){
            let name=$('[name="in_name"]').val();
            let password=$('[name="in_password"]').val();
            if (name && password){
                $.post("/auth",{in_name:name,in_password:password},
                function (response){
                let status=$.parseJSON(response)['status'];
                if (status=='ok'){window.location="/base"}
                else {alert("неправильная пара логин-пароль!")}
                    })}
            else {alert("заполните все поля!")}
            }
</script>
</head>
<body>
<input name="in_name" type="text" maxlength="50">
<input name="in_password" type="text" maxlength="50">
<input type="button" value="Войти" onclick="check_auth()" >
<input id="but1" type="button" value="Зарегистрироваться">
<div class= "par1" style="display: none">
    <p><label for="your_email">Куда вам отправить письмо?</label>
        <input id="your_email" type="text" maxlength="50"></p>
    <p><label for="your_name">Придумайте ваше имя</label>
        <input id="your_name" type="text" maxlength="50"></p>
    <p><label for="your_password">Придумайте ваш пороль</label>
        <input id="your_password" type="text" maxlength="50"></p>
    <p><input type="button" value="Поехали!"></p>
</div>

</body>
</html>