<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация Wasmoh</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link  rel = "stylesheet" href =  "{{ url_for('static',filename='styles/auth.css') }}">
</head>
<body class="container-fluid h-100">
<div class="h-100 auth">
    <input id="in_name" class="namefield" type="text" maxlength="50" placeholder="Ваше имя">
    <input id="in_password" class="passfield" type="text" maxlength="50" placeholder="Ваш пароль" >
    <button id="but4" class="btn btn-primary left-but">Войти</button>
</div>
<div class= "h-100 par1">
    <input id="your_name" class="namefield" type="text" maxlength="50" placeholder="Придумайте Ваше имя)">
    <input id="your_password" class="passfield" type="text" maxlength="50" placeholder="Придумайте Ваш пароль)">
    <input id="your_email" type="text" maxlength="50" placeholder="Куда Вам отправить письмо?">
    <button id="but2" class="left-but">Поехали!</button>
    <input id="check_code" type="text" maxlength="50" placeholder="проверочный код">
    <button id="but3" class="right-but">Валидация</button>
</div>
<button id="but1">Регистрация/Авторизация</button>

<script>

    $(document).ready(function(){


        $("#but1").on('click',function(){
            $(".auth").toggle(300);
            $(".par1").toggle(300);});

        $('#but2').on('click',function(){
            let email=$('#your_email').val();
            let name=$('#your_name').val();
            let password=$('#your_password').val();
            if (email && name && password) {
                $.post('/auth',{subfunction:'sendmail',in_email:email,in_name:name,in_password:password},
                    function (response){
                        let status=$.parseJSON(response)['status'];
                        if (status=='sent'){alert("письмо отправлено, проверьте почту!")}
                        else {
                            alert(status)
                        }
                    })
            } else {alert("заполните все поля!")}
        });

        $('#but3').on('click',function(){
            let code=$('#check_code').val();
            let name=$('#your_name').val();
            if (code && name) {
                $.get('/auth',{subfunction:'validation',name:name, code:code},function (response){
                    let status=$.parseJSON(response)['status'];
                    if (status=='валидация успешна!'){
                        window.location="/base"}
                    else {alert(status)}
                }) //добавить функцию обработки ответа
            }
            else {alert("Поля имя и код валидации должны быть заполнены")}
        });

        $('#but4').on('click',function(){
            let name=$('[id="in_name"]').val();
            let password=$('[id="in_password"]').val();
            if (name && password){
                $.post("/auth",{subfunction:'auth',in_name:name,in_password:password},
                    function (response){
                        let status=$.parseJSON(response)['status'];
                        if (status=='1'){window.location="/base"}
                        else if (status=='0') {alert("неправильная пара логин-пароль!")}
                        else if (status=='-404') {window.location="/dbfail"}
                    })}
            else {alert("заполните все поля!")}
        })

    });
</script>
</body>
</html>