<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WasmohWeb</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body >
<script>

    function pretty_print(json)
    {
        let author=json['author'].toString()
        let body=json['body'].toString()
        return author+' написал: '+body
    }
    //Изменить параметры пагинации

    function get_mess()
    {
        let last_id = 0;
        if ($("p").is(".messages p")){
            last_id = $('.messages > p:last-child').attr('id');
        }
        $.get("/get_mess",{ last_id: last_id}, function(response)
        {
            let messages = $.parseJSON(response);
            let posts=messages['posts'];
            if (posts=='-404') {window.location="/dbfail"};
            $.each(posts, function(index, value)
            {
                let p=$('<p></p>').attr("id",value['id']).html(pretty_print(value))
                $('.messages').append(p);
            });
        });
    }

    //изменить на jquery событие через кнопку
    $(document).ready(function(){
        $("#but1").on('click',function (){
            let json_data = {name: $('#your_name').text(), text: $('#your_message').val()};
            console.log(json_data)
            $.post("/send", json_data);
        })
    })
</script>

Добро пожаловать,<p id="your_name">{{user}}</p>!
<p><label for="your_message">Введите текст:</label></p>
<p><textarea id="your_message" cols="200" maxlength="1000" rows="5"> </textarea></p>
<input id="but1" type="button" value="Отправить">

<div class="messages" style="width: 400px; height: 600px; overflow: auto;"></div>
<script>
    setInterval(get_mess,5000)
</script>
</body>
</html>