{%extends "base_template.html"%}
{%block head%}
    <link  rel = "stylesheet" href =  "{{ url_for('static',filename='styles/base.css') }}">
{%endblock%}
{%block content%}
<div class="container-fluid vh-100 main">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../settings">Настройки</a>
            </li>
        </ul>
        <button class="nav-link btn btn-secondary h-100 my-2 my-sm-0" id="but2" type="button">Выйти</button>

    </div>
</nav>

<!--        <span class="col-7 h-50" id="your_name">Добро пожаловать,{{data['name']}}!</span>-->
<!--        <a class="col-3 h-100" href="../settings"><img src={{data['avatar']}} class="h-100" alt="avatar"></a>-->
<!--        <button class="nav-link btn btn-secondary h-100" id="but2" type="button">Выйти</button>-->
<!--    </div>-->
    <div class="row overflow-auto  messages"></div>
    <div class="row h-25 x3">
        <textarea class="col-9 m-2 h-50" id="your_message" placeholder="введите текст" maxlength="1000"></textarea>
        <button class="col-2 m-2 btn btn-success h-50" id="but1" type="button">Отправить</button>
    </div>
</div>
<script>
    setInterval(get_mess,2000)

    function pretty_print(json)
    {
        let author=json['author']
        let body=json['body']
        let re=/\\n/gi
        let edit_body=body.replace(re,'<br>')
        //console.log(edit_body)
        let mstime=Math.round(json['posttime'])*1000
        let posttime=new Date(mstime)
        let myPattern = new RegExp("\\d{2}:\\d{2}");
        posttime=myPattern.exec(posttime.toString())
        return author+' написал(а) в '+posttime+':<br> '+edit_body
    }
    //Изменить параметры пагинации
    //
    function get_mess() {
        let last_id = 0;
        if ($("div").is(".messages div")) {
            last_id = $('.messages > div:last-child').attr('id');
        }
        $.get("/base", {subfunction: 'get_mess', last_id: last_id}, function (response) {
            let messages = $.parseJSON(response);
            let posts = messages['posts'];
            if (posts == '-404') {
                window.location = "/dbfail"
            }

            $.each(posts, function (index, value) {
                let mess_id = value['id']
                let ref = "../profile/" + value['author']
                let avatar = value['avatar']
                let text = pretty_print(value)
                let messblock = `
                    <div class="row w-100 messblock" id=${mess_id}>
                        <a class="col-2" href=${ref}><img src=${avatar} alt="avatarka"></a>
                        <p class="col-10 intext">${text}</p>
                    </div>`;
                $('.messages').append(messblock)
            });
        })
    }



    $(document).ready(function(){
<!--        $('button.navbar-toggler').on('click',function (){-->
<!--            $('div.navbar-collapse').attr('class','show')-->
<!--            })-->

        $("#but1").on('click',function (){
            let json_data = {subfunction:'send_mess',name: "{{data['name']}}", text: $('#your_message').val()};
            $.post("/base", json_data);
            $('#your_message').val("")
        })
        $('#your_message').keypress(function (e){
            let key = e.which;
            if(key == 13)
            {
                $('#but1').click();
                return false;
            }
        })

        $("#but2").on('click',function (){
            $.get("/base",{subfunction:'logout'},function (){
                window.location="/auth"
            })
        })
    })
</script>
{%endblock%}
