<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WasmohWeb</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <style type="text/css">
        .messblock {
            width: 400px;
            background: #7a7070;
            padding: 5px 20px 5px 5px;
            border: solid 1px #a51616;
            float: left;
        }

    </style>
</head>
<body >

<div style="">Добро пожаловать,<span id="your_name">{{data['name']}}</span>!</div><br>
<a href="../settings"> <img src={{data['avatar']}} alt="avatar" height="3%" width="3%"></a><br>
<input id="but2" type="button" value="выйти">
<p><label for="your_message">Введите текст:</label></p>
<p><textarea id="your_message" cols="200" maxlength="1000" rows="5"> </textarea></p>
<input id="but1" type="button" value="Отправить">

<div class="messages" style="width: 450px; height: 600px; overflow: scroll;"></div>
<script>
    setInterval(get_mess,1000)

    function pretty_print(json)
    {
        let author=json['author']
        let body=json['body']
        let mstime=Math.round(json['posttime'])*1000
        let posttime=new Date(mstime)
        let myPattern = new RegExp("\\d{2}:\\d{2}");
        posttime=myPattern.exec(posttime.toString())
        return author+' написал(а) в '+posttime+': '+body
    }
    //Изменить параметры пагинации

    function get_mess()
    {
        let last_id = 0;
        if ($("div").is(".messages div")){
            last_id = $('.messages > div:last-child').attr('id');
        }
        $.get("/base",{ subfunction:'get_mess',last_id: last_id}, function(response)
        {
            let messages = $.parseJSON(response);
            let posts=messages['posts'];
            if (posts=='-404') {window.location="/dbfail"};
            $.each(posts, function(index, value)
            {
                let mess_id=value['id']
                let ref="../profile/"+value['author']
                let d=$('<div>').attr("id",mess_id).attr("class","messblock")
                $('.messages').append(d);
                let avatar=value['avatar']
                let a= $('<a><img src='+avatar+' alt="avatar"></a>').attr("href",ref).attr("class","ref")
                $('[id='+mess_id+'].messblock').append(a);
                let p=$('<p>').attr("class","intext").html(pretty_print(value))
                $('[id='+mess_id+'].messblock').append(p);
                $('.messages').scrollTop(9999)
            });
        });
    }


    $(document).ready(function(){
        $("#but1").on('click',function (){
            let json_data = {subfunction:'send_mess',name: "{{data['name']}}", text: $('#your_message').val()};
            $.post("/base", json_data);
            $('#your_message').val("")
        })
        $('#your_message').keypress(function (e){
            let key = e.which;
            if(key == 13)
            {
                $('#but1').click();
                return false;
            }
        })

        $("#but2").on('click',function (){
            $.get("/base",{subfunction:'logout'},function (){
                window.location="/auth"
            })
        })

    })
</script>

</body>
</html>