<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки {{data['name']}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>
<a href="../base">На главную</a>
<p>это страница настроек {{data['name']}}</p><br>
<img src={{data['avatar']}} alt="avatar" id="avatar"><br>
<input type="button" id="but1" value="сменить аватарку">
<div class= "par1" ></div>
<script>
    $('#but1').on('click',function (){
        $.get('/settings', {subfunction: 'get_pictures'},function (response){
            response=jQuery.parseJSON(response)
            $.each(response['pictures'],function (index, value){
                let ref="/static/images/"+value
                let p=$('<img src='+ref+' class="picture">')
                $('.par1').append(p)
                if (((index+1) % 2)==0) {
                    $('.par1').append('<br>')
                }

            })
            //do smth to show pictures
        })
    })

    $(document).on('click','.par1 img',function (){
        let avatar=$(this).attr('src')
        $.get('/settings',{subfunction: 'change_avatar',avatar:avatar},function (){
            $('#avatar').attr('src',avatar)
            //do smth to change avatar
        })
        console.log('есть контакт')
    })
</script>
</body>
</html>