{%extends "base_template.html"%}
{%block head%}
<link  rel = "stylesheet" href =  "{{ url_for('static',filename='styles/settings.css') }}">
{%endblock%}
{%block content%}
<p>это страница настроек {{data['name']}}</p><br>
<img src={{data['avatar']}} alt="avatar" id="avatar"><br>
<input type="button" id="but1" value="коллекция аватарок">
<form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
<div class= "par1" ></div>
<script>
    $('#but1').on('click',function (){
        $.get('/settings', {subfunction: 'get_pictures'},function (response){
            response=jQuery.parseJSON(response)
            $.each(response['pictures'],function (index, value){
                let ref="/static/images/"+value
                let p=$('<img src='+ref+' class="picture">')
                $('.par1').append(p)
                if (((index+1) % 2)==0) {
                    $('.par1').append('<br>')
                }

            })
            //do smth to show pictures
        })
    })

    $(document).on('click','.par1 img',function (){
        let avatar=$(this).attr('src')
        $.get('/settings',{subfunction: 'change_avatar',avatar:avatar},function (){
            $('#avatar').attr('src',avatar)
            //do smth to change avatar
        })
        console.log('есть контакт')
    })
</script>
{%endblock%}